<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.mapper.shoppingmapper">

<select id="selectProduct" parameterType="hashmap" resultType="hashmap">	
SELECT *
FROM 
	(SELECT ROWNUM RM,P.* 
	FROM
		(SELECT * FROM PRODUCT  
	<if test="orderBy !=null and orderBy != ''">	
		ORDER BY ${orderBy}
	 </if>
	 	) P
	Where 1=1
	 <if test="soldout=='true'">
	 AND P.PRODUCTCOUNT >0
	 </if>
	 <if test="minPrice != null and minPrice != ''">
	 <![CDATA[AND P.PRODUCTPRICE >= ${minPrice}]]>
	 </if>
	 <if test="maxPrice != null and maxPrice != ''">
	 <![CDATA[AND P.PRODUCTPRICE <= ${maxPrice}]]>
	 </if>
	 <if test="category !=null and category != ''">
	 AND P.PRODUCTCATE = #{category}
	 </if>
	 
	 )


WHERE <![CDATA[ RM>=${startNum} AND RM<=${endNum}]]>
</select>

<select id="totalPageCnt" parameterType="hashmap" resultType="int">
SELECT COUNT(*)
FROM
	(SELECT ROWNUM RM,P.* 
	FROM
		(SELECT * FROM PRODUCT  
	<if test="orderBy !=null and orderBy != ''">	
		ORDER BY ${orderBy}
	 </if>
	 	) P
	Where 1=1
	 <if test="soldout=='true'">
	 AND P.PRODUCTCOUNT >0
	 </if>
	 <if test="minPrice != null and minPrice != ''">
	 <![CDATA[AND P.PRODUCTPRICE >= ${minPrice}]]>
	 </if>
	 <if test="maxPrice != null and maxPrice != ''">
	 <![CDATA[AND P.PRODUCTPRICE <= ${maxPrice}]]>
	 </if>
	 )
</select>


</mapper>

